@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

$font1: 3rem;
$font2: 2.5rem;
$font3: 2rem;
$font4: 1.5rem;
$font5: 1rem;
$font6: 0.8rem;
$font7: 0.6rem;



$font_name: Raleway;

*{
    font-family: $font_name;
}